<form method="post" action="<%= url %>">
    <div class="field">
        <label class="label">Nome</label>
        <div class="control">
            <input class="input" type="text" name="checklist[name]" placeholder="Lista de Tarefas" value="<%= checklist.name %>">
            <% if(checklist.errors && checklist.errors.hasOwnProperty('name')) { %>
                <p class="is-danger help"><%= checklist.error.name.message %>></p>
            <% } %>
        </div>
    </div>

    <a href="/checklists" class="button is-dark"><i class="fa fa fa-window-close"></i>&nbsp; Cancelar</a>
    <button type="submit" class="button is-success"><i class="fa fa-check"></i>&nbsp; Salvar</button>
</form>